<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WallpaperManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <WallpaperManager.Properties.Settings>
            <setting name="backgroundColorHex" serializeAs="String">
                <value>#000</value>
            </setting>
            <setting name="wallpaperStyleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intervalIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="backgroundType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="count" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CbMainWindowSelectedBackgroundType" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Picture</string>
                        <string>Picture</string>
                        <string>Picture</string>
                        <string>Picture</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CbMainWindowSelectedWallpaperStyle" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Fill</string>
                        <string>Fill</string>
                        <string>Fill</string>
                        <string>Fill</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="CpMainWindowSelectedBackgroundColor" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>#000</string>
                        <string>#000</string>
                        <string>#000</string>
                        <string>#000</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="UseGlobalSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CbBingSelectedDownloadResolution" serializeAs="String">
                <value>1920x1200</value>
            </setting>
            <setting name="CmBoolUpdateWallpaperWhenChangingResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CmBoolApplyShaderWhenWallpaperHasNotBeenDownloadedYet"
                serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CmBoolCircleWallpapersInView" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CmBoolOpenWallpaperAfterDownload" serializeAs="String">
                <value>True</value>
            </setting>
        </WallpaperManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <WallpaperManager.Properties.Settings>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.2 dev</value>
            </setting>
            <setting name="ApplicationHeader" serializeAs="String">
                <value>Wallpaper Manager [Bing Edition]</value>
            </setting>
        </WallpaperManager.Properties.Settings>
    </applicationSettings>
</configuration>